 .saveButt{ margin: 20px 3px 0 0;}
.canselButt{ margin-top: 20px;}
.flex{display: flex; 
    flex-direction: row;
    position: relative;
    margin-bottom: 10px;
    width: 100%;}
.error{color: red;
  width: auto;
  position: absolute;left: 390px;}
.labelInp{position: relative;}
.InputProd{position: absolute; left: 150px; width: 230px;}